<ul class="unstyled well messages">
  <li>
    <div class="username">Kris</div>
    <div class="message">Yo onju lahe chat</div>
    <div class="time">5 seconds ago</div>
  </li>
</ul>

<div id="sidebar">
  Users
</div>