<div class="content-header">
  <div class="header-inner">
    <h2>
      <span>Messages</span>
      <small class="view-toggler"></small>
    </h2>
  </div>
</div>

<div class="messages">
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  <div class="message-item" data-message-id="123">Yoo meees</div>
  
  <div class="message-last-item">
    <%= image_tag "loader.gif" %>
  </div>
</div>