<div id="message-modal" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>New Message</h3>
  </div>
  <div class="modal-body">
    <div class="smilies">
      <% Message.smilies.each do |k,v| %>
        <a class="smilie <%= v %>" data-key="<%= k %>" data-placement="above" title="<%= k %>"><%= k %></a>
      <% end %>
    </div>
    <form id="messageform" action="">
      <textarea type="text"></textarea>
    </form>
    <div class="tutorial">
      <table class="table table-striped">
        <thead>
         <tr>
           <th>Type</th>
           <th>Result</th>
         </tr>
        </thead>
        <tbody>
         <tr>
           <td>**bold**</td>
           <td><b>bold</b></td>
         </tr>
         <tr>
           <td>*italic*</td>
           <td><i>italic</i></td>
         </tr>
         <tr>
           <td>***bold & italic***</td>
           <td><b><i>bold & italic</i></b></td>
         </tr>
         <tr>
           <td>[Google](http://www.google.com/)</td>
           <td><a href="http://www.google.com/">Google</a></td>
         </tr>
         <tr>
           <td>![MiniStig](http://dl.dropbox.com/u/473532/ministig.png)</td>
           <td><img src="http://dl.dropbox.com/u/473532/ministig.png" alt="MiniStig" /></td>
         </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary post-message">Post</a>
    <a href="#" class="btn secondary cancel-message">Cancel</a>
  </div>
</div>