<div id="stats-bar">
  <i class="icon">π</i>

  <div class="contents">
    Rendered by <%= Process.pid %>
    on <%= `hostname`.strip %>
    in <%= sprintf('%.3f', (Time.now.usec - @start_time).abs / 1000000.0) %> seconds
    running <%= `git log -1 --format="%H"`[0..9] %>
  </div>
</div>
