@import "compass/css3/text-shadow"
@import "compass/css3/transition"
@import "compass/css3/border-radius"
@import "compass/css3/background-clip"
@import "compass/utilities/sprites"
$topbar: sprite-map("topbar/*.png")
$buttons: sprite-map("buttons/*.png")

body
  padding-top: 40px
  background: #B2C9ED
  color: #333
  font: 14px/18px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif

li,
.btn
  .icon-wrapper
    position: relative
    float: left

    i
      float: left
      margin: 0 6px 0 0
      width: 22px
      height: 22px
      background: transparent
      background-repeat: no-repeat

      &.icon-messages
        background: sprite($topbar, messages-inactive)

      &.icon-media
        background: sprite($topbar, media-inactive)

      &.icon-stats
        background: sprite($topbar, stats-inactive)
      &.icon-user
        background: sprite($topbar, user-inactive)

  &.active,
  &.active:hover
    i
      &.icon-messages
        background: sprite($topbar, messages)

      &.icon-media
        background: sprite($topbar, media)

      &.icon-stats
        background: sprite($topbar, stats)
      &.icon-user
        background: sprite($topbar, user)

  &:hover
    i
      &.icon-messages
        background: sprite($topbar, messages-hover)

      &.icon-media
        background: sprite($topbar, media-hover)

      &.icon-stats
        background: sprite($topbar, stats-hover)
      &.icon-user
        background: sprite($topbar, user-hover)

.btn
  .icon-wrapper
    i
      &.icon-new-message
        background: sprite($buttons, new-message)

label.placeholder
  padding-top: 2px !important

.topbar
  .icon-bubble
    position: absolute
    top: 10px
    left: 50%
    margin-left: -12px
    height: 23px
    width: 24px
    background: transparent url('/assets/emboss.png') no-repeat

  .dropdown-toggle
    .icon-wrapper
      i
        margin: 0

  a
    color: #BBB
    font-weight: bold
    font-size: 12px
    @include text-shadow(0 -1px 0 rgba(0, 0, 0, .75))
  .active
    a
      color: white
      @include text-shadow(0 1px 0 rgba(0, 0, 0, .5))

#searchform
  margin-left: 15px

  input
    @include transition(width 0.3s)
    width: 150px

  &.expand
    input
      width: 300px

.main.container
  width: 920px
  padding: 10px
  background: transparent url('/assets/blur.png')
  @include border-bottom-radius(5px)

.content-header
  border: 1px solid rgba(0, 0, 0, .1)
  border-bottom: none
  @include border-bottom-radius(6px)
  @include background-clip(padding-box)

  .header-inner
    min-height: 26px
    padding: 12px
    background-color: white
    border-bottom: 1px solid #E8E8E8
    @include border-top-radius(5px)

    .btn
      float: right

    h2
      font-size: 18px
      font-weight: bold
      line-height: 20px
      padding-top: 4px

.message-item,
.message-last-item
  padding: 12px 9px
  background: white
  border-left: 1px solid #E8E8E8
  border-left: 1px solid rgba(0, 0, 0, .1)
  border-right: 1px solid #E8E8E8
  border-right: 1px solid rgba(0, 0, 0, .1)
  border-bottom: 1px solid #E8E8E8
  @include background-clip(padding-box)

.message-last-item
  text-align: center
  padding: 20px
  border-bottom: 1px solid #E8E8E8
  border-bottom: 1px solid rgba(0, 0, 0, .1)
  @include border-bottom-radius(5px)
  